
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header,
.logo,
ul,
a,
ul li a {
    font-family: 'Open Sans', sans-serif;
    color: #777;
    text-decoration: none;
}

header {
    display: flex;
    height: 3.5rem;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(253, 237, 132, 1);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.logo {
    font-weight: 700;
    font-size: 24px;
    color: #333;
    padding-left: 2rem;
}


ul {
    list-style: none;
}

ul li {
    display: inline-block;
    position: relative;
}

ul li a {
    display: flex;
    color: #777;
    text-align: center;
    font-size: 20px;
    align-items: center;
    padding: 10px;
    justify-content: center;
}

.header-right ul:last-child {
    padding-right: 2rem;
    padding-left: 0;
}

ul li a i {
    margin-right: 5px;
}

ul li ul.dropdown {
    position: absolute;
    top: 100%;
    background: rgb(255, 244, 172);
    display: none;
    width: 10em;
    padding: 10px;
}


ul li ul.dropdown li {
    width: 100%;
    padding: 5px 0;
    margin: 0;
    text-align: center;
    display: flex;
    align-items: center;
}

ul li:hover ul.dropdown {
    display: block;
}

ul li ul.dropdown li a {
    font-size: 14px;
    color: #777;
    display: block;
    padding: 5px 10px;
    transition: color 0.3s;
}

ul li ul.dropdown li a:hover {
    color: black;
}

ul li a:hover {
    color: black;
}


header h1,
header h2,
header h3,
header h4,
header h5,
header h6 {
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
}

.header-right ul li {
    display: inline-block;
    margin-left: 10px;
}

.header-right ul li a {
    font-weight: 400;
    font-size: 18px;
}

.scroll-watcher {
    height: 6px;
    position: fixed;
    top: 0;
    z-index: 1000;
    background-color: #777;
    width: 100%;
    scale: 0 1;
    transform-origin: left;
    animation: scroll-watcher linear;
    animation-timeline: scroll();
}

@keyframes scroll-watcher {
    to {scale: 1 1;}
}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 80px 30px 30px 30px;
}

.col-2 {
    flex-basis: 40%;
    min-width: 300px;
}

.col-2 h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 6rem;
    line-height: 6rem;
    margin: 30px 0 15px 0;
}

.col-2 p {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    margin: 15px 10px 15px 0;
}

.btn {
    display: inline-block;
    background: rgba(253, 237, 132, 1);
    color: #777;
    padding: 8px 30px;
    margin: 6px 0 5px 0;
    border-radius: 30px;
    transition: 0.3s;
}

.btn:hover {
    color: black;
}

.search-bar {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
    padding: 8px 16px;
}

.search-bar input[type="text"] {
    flex: 1;
    border: none;
    outline: none;
    font-size: 16px;
    padding: 8px 12px;
    border-radius: 20px;
}

.search-bar button {
    background-color: rgba(253, 237, 132, 1);
    color: #777;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 8px 16px;
    border-radius: 20px;
    margin-left: 8px;
    transition: background-color 0.3s;
}

.search-bar button:hover {
    color: black;
}

.search-bar button i {
    font-size: 18px;
}


section#title {
    font-family: 'Open Sans', sans-serif;
    margin: 70px 0;
    text-align: center;
    font-size: 1.5em;
}


.line-yellow {
    width: 300px;
    height: 0.25em;
    background-color: rgba(253, 237, 132, 1);
    border: none;
    margin: 5px auto;
}

.category-list {
    list-style: none;
    padding: 0;
    justify-content: space-between;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.category-item {
    position: relative;
    margin: 35px;
    text-align: center;
    display: flex;
    flex: 20%
}


.category-item a {
    display: flex;
    flex: 20%;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #333;
    transition: 0.1s ease;
    z-index: -1;
}

.category-item img {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    margin: auto;
    border: 2px solid rgba(253, 237, 132, 0.45);
    padding: 0.5em;
    box-sizing: border-box;
    display: block;
    transition: 0.1s linear;
}

.category-item:hover {
    transform: translateY(-5px);
}

.category-item:hover img {
    border: 4px solid rgba(253, 237, 132, 1);
}


.category-item span {
    font-size: 16px;
    text-align: center;
    margin-top: 1em;
    color: #777;
    transition: 0.1s linear;
}

.category-item:hover span {
    color: black;
}

.item-card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 10px;
    margin-right: 10px;
    list-style: none;
    transition: transform 0.1s ease, box-shadow 0.1s ease;
    background-color: rgba(253, 237, 132, 0.1);
}

.item-card a {
    display: block;
    text-decoration: none;
    color: inherit;
    z-index: -1;
}

.item-card img {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}

.item-card h4,
.item-card p {
    text-align: left;
    margin: 0;
    padding: 0;
}


.item-card h4 {
    font-size: 18px;
    color: #333;
    margin-bottom: 5px;
}

.item-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}


.item-card p {
    font-size: 16px;
    color: #777;
}


.draw-items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px; 
    padding: 0;
    list-style: none;
    justify-content: center;
}



footer {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 0.8em;
    text-align: center;
    background: rgba(253, 237, 132, 1);
    padding: 10px 0 5px 0;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

footer ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    list-style: none;
}

footer ul li {
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 10px;
}

footer ul li a {
    font-size: 1rem;
    transition: color 0.1s;
    border-right:2px solid #777;
    padding: 0 3em;
}

footer ul li:last-child a{
    border: none;
}


.pagination-button {
    border: none;
    color: #777;
    background-color: rgba(253, 237, 132, 0.7);
    padding: 1em;
    font-size: 1em;
    font-weight: bold;
    transition: color 0.1s linear;
}

.pagination {
    display: flex;
}

.pagination-button:hover {
    color: black;
    background-color: rgba(253, 237, 132, 1);
}

.pagination-container {
    margin: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

select {
    margin-right: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    cursor: pointer;
}

#searchItems {
    margin-top: 100px;
    align-items: center;
}


#images {
    margin-top: 5%;
    margin-left: 5%;

    display: flex;
}

#mainImage {
    width: 500px;
    max-height: 600px;
    height: auto;
    margin-left: 35px;
    cursor: pointer;
}

.sideImagesContainer {
    overflow-y: auto;
    width: 130px;
    height: 580px;

    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.sideImage {
    width: 130px;
    height: 130px;
    margin-bottom: 15px;

    cursor: pointer;
}

#information {
    margin-left: 5%;

    h3 {
        font-family: 'Open Sans', sans-serif;
        font-weight: 700    ;
        font-size: 30px;
        margin-left: 35px;
        margin-bottom: 10px;
    }

    p {
        font-family: 'Roboto', sans-serif;
        font-weight: 600;
        font-size: 20px;

        margin-left: 35px;
    }

    #brandName {
        font-weight: 450;
        font-size: 20px;
    }

    #conditionValue {
        font-weight: 450;
        font-size: 20px;
    }
}

#mainInfo {
    h1 {
        font-family: 'Open Sans', sans-serif;
        font-weight: 700;
        font-size: 100px;
        margin-bottom: 25px;
    }

    ul {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-left: 31px;
        margin-bottom: 60px;

        font-size: 25px;
        color: #333333;
    }

    ul li:first-child {
        margin-right: 275px;
    }

    .wishlist-button {
        background: none;
        border: none;
        padding: 0;
        cursor: pointer;
    }

    .wishlist-button i {
        font-size: 27px;
        color: rgba(255, 0, 0, 0.3);
        transition: color 0.3s ease;
        margin-right: 10px;
    }

    .wishlist-button:hover i {
        color: rgba(255, 0, 0, 0.6);
    }

    .add-to-bag-button {
        padding: 10px 20px;
        background-color: rgba(253, 237, 132, 1);
        color: #777777;
        font-weight: 700;
        font-size: 17px;
        border: none;
        border-radius: 20px;
        cursor: pointer;
    }

    .add-to-bag-button .fa-bag-shopping {
        margin-right: 5px;
        font-size: 20px;
    }

    .add-to-bag-button:hover {
        color: black;
    }

    margin-bottom: 45px;
}

#description_seller {
    h2 {
        margin-top: 75px;
        margin-bottom: 5px;
        text-align: center;

        font-family: 'Open Sans', sans-serif;
        font-size: 27px;
    }

    hr{
        margin-bottom: 15px;
    }

    .box_yellow {
        background-color: rgba(253, 237, 132, 0.25);
        padding: 20px;
        border-radius: 10px;
        max-width: 95%;
        margin: 25px auto;

        font-family: 'Roboto', sans-serif;
        font-size: 21px;
    }

    .description {
        margin-left: 80px;
    }

    #sellerInfo {
        display: flex;
        align-items: center;

        margin-left: 75px;
    }

    .profilePic {
        width: 100px;
        height: 100px;
        border: 2px solid rgba(253, 237, 132, 1);
        border-radius: 50%;
        overflow: hidden;
        margin-right: 15px;
    }

    .profilePic img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .username {
        font-family: 'Open Sans', sans-serif;
        font-size: 35px;
        font-weight: 500;
    }

    .name {
        font-family: 'Roboto', sans-serif;
        font-size: 25px;
        font-weight: 200;
    }

    #itemsPerPage {
        margin-right: 10px;
        padding: 8px;
        border: 1px solid #ccc;
        cursor: pointer;
    }
    .sendMessageButton {
        padding: 30px 60px;
        background-color: rgba(253, 237, 132, 1);
        color: #777777;
        font-weight: 700;
        font-size: 21px;
        border: none;
        border-radius: 20px;
        cursor: pointer;
        margin-left: auto;
        margin-right: 75px;
    }

    .sendMessageButton:hover {
        color: black;
    }
}
ul#suggestions.suggestions {
    position: absolute;
    z-index: 1000; 
    background-color: rgba(255, 255, 255, 1);
    list-style: none;
    border-radius: 5px;
    margin-top: 0.5em;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.suggestionItem {
    display: block;
}

.suggestion {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-decoration: none;
    color: #333;
    padding: 0.5em;
    border-radius: 5px;
    transition: all 0.3s ease;
    overflow: hidden;
}

.suggestion:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: black;
}

.suggestion-image {
    width: 3em; 
    height: 3em; 
    border-radius: 5px 0 0 5px;
}

.suggestion-title {
    margin-left: 1em;
    font-size: 16px;
}

ul li:hover section#loginAndSignup {
    display: block;
}

section#loginAndSignup {
    overflow: hidden;
    width: 250px;
    height: 310px;
    border-radius: 10px;
    box-shadow: 5px 20px 20px #777;
    position: absolute;
    display: none;
    top: 100%;
    z-index: 1000;
    background: #fff;
}

section#popup-form {
    border-radius: 10px;
    z-index: 10000;
    background: #fff;
    display: block;
}

#chk {
    display: none;
}

#popup-chk {
    display: none;
}

section.login {
    position: relative;
    width: 100%;
    height: 200px;
}


label#check {
    color: #777;
    font-size: 2em;
    justify-content: center;
    display: flex;
    font-weight: bold;    
    cursor: pointer;
    transition: .5s ease-in-out;
    margin-top: 15px;
}

section.loginAndSignup input {
    width: 70%;
    height: 30px;
    background: #fff;
    justify-content: center;
    display: flex;
    margin: 10px auto;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
}

section.loginAndSignup button {
    width: 60%;
    height: 30px;
    margin: 0 auto;
    display: block;
    color: #fff;
    background: #ff9837;
    font-size: 1em;
    font-weight: bold;
    margin-top: 10px;
    outline: none;
    border: none;
    border-radius: 5px;
    transition: .2s ease-in;
    cursor: pointer;
}

section.loginAndSignup section.login input {
    margin-top: 20px;
    height: 35px;
    background: rgb(254, 243, 167);
}

section.loginAndSignup section.login button {
    margin-top: 25px;
    height: 35px;
    background: rgb(255, 224, 23);
}

section.loginAndSignup section.login {
    margin-top: 10px;
    height: 230px;
    border-radius: 60% / 10%;
    transition: .8s ease-in-out;
}

section.loginAndSignup section.signup {
    height: 300px;
    background: rgb(255, 242, 159);
    border-radius: 60% / 10%;
    transition: .8s ease-in-out;
}

section#loginAndSignup section.signup label {
    color: #777;
    transform: scale(.6);
}

section#popup-form section.signup label {
    color: #777;
    transform: scale(.6);
}

section#loginAndSignup #chk:checked ~ .signup {
    transform: translateY(-200px);
}

section#loginAndSignup #chk:checked ~ .signup label{
    transform: scale(1);
}

section#loginAndSignup  #chk:checked ~ .login label{
    transform: scale(.6);
}

section#popup-form #popup-chk:checked ~ .signup {
    transform: translateY(-200px);
}

section#popup-form #popup-chk:checked ~ .signup label {
    transform: scale(1);
}

section#popup-form #popup-chk:checked  ~ .login label {
    transform: scale(.6);
}

ul li:hover section.profile {
    display: block;
}

.profile {
    overflow: hidden;
    width: 250px;
    height: auto;
    max-height: 280px;
    border-radius: 10px;
    box-shadow: 5px 20px 20px #777;
    display: none;
    position: absolute;
    top: 100%;
    z-index: 1000;
    background: #fff;
    padding: 10px;
    box-sizing: border-box;
}

section#user_logged {
    display: grid;
    grid-template-columns: auto 1fr;
    place-items: center;
    text-align: center;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 2px solid rgb(255, 221, 0);
}

#user_logged img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

#user_logged h4 {
    margin: 0;
    font-size: 1.2rem;
    color: black;
}

nav.signup {
    margin-top: 10px;
}

nav.signup a {
    display: block;
    padding: 5px 0;
    color: #777;
    text-decoration: none;
    transition: color 0.3s ease;
}


button[type="submit"] {
    display: block;
    width: 100%;
    padding: 8px 0;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    background-color: rgb(255, 232, 82);
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: rgb(255, 224, 23);
}

.profile-pages {
    margin-top: 7%;
    position: relative;

    a {
        margin-left: 2%;
        font-family: 'Open Sans', sans-serif;
        font-weight: bold;
        font-size: 20px;
        margin-right: 7%;
    }

    .highlighted {
        color: #100c1e;
    }
}

body:has(#filters) {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-areas: "header header"
                         "searchbar searchbar"
                         "title title"
                         "filters order"
                         "filters items"
                         "footer footer";

    header {
        grid-area: header;
    }

    #filters {
        grid-area: filters;
    }
    #order {
        grid-area: order;
    }
    #searchItems {
        grid-area: searchbar;
    }
    #title {
        grid-area: title;
    }
    #draw-items {
        grid-area: items;
    }

    footer {
        grid-area: footer;
    }

}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    border: 2px solid #555;
    border-radius: 4px;
    background-color: #fff;
    outline: none;
    cursor: pointer;
}

#filters {
    font-family: 'Open Sans', sans-serif;
    background: rgb(255, 242, 159);;
    border: 1px solid #ccc;
    padding: 15px;
    width: 100%;

    legend {
        font-size: 1.3em;
        padding-bottom: 5px;
    }

    label {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 3px;
        padding-bottom: 3px;
    }

    fieldset {
        display: grid;
        margin: 10px;
        border: none;
        border-bottom: 2px solid #ccc;
        box-shadow: none;
        outline: none;
        padding-bottom: 6px;
    }


    #price section {
        padding-bottom: 6px;
    }

    #number-input {
        justify-content: space-between;
    }

    #slider {
        height: 5px;
        position: relative;
        background: #ddd;
        border-radius: 5px;
    }
    #slider #progress {
        height: 100%;
        left: 0;
        right: 0;
        position: absolute;
        border-radius: 5px;
        background: #FFA500;
    }
    #range-input {
        position: relative;
    }
    #range-input input {
        position: absolute;
        width: 100%;
        height: 5px;
        top: -5px;
        background: none;
        pointer-events: none;
        -webkit-appearance: none;
        -moz-appearance: none;
    }
    input[type="range"]::-webkit-slider-thumb {
        height: 17px;
        width: 17px;
        border-radius: 50%;
        background: #FFA500;
        pointer-events: auto;
        -webkit-appearance: none;
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
    }
    input[type="range"]::-moz-range-thumb {
        height: 17px;
        width: 17px;
        border: none;
        border-radius: 50%;
        background: #000;
        pointer-events: auto;
        -moz-appearance: none;
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
    }
    #order {
        font-family: 'Open Sans Light', sans-serif;
        padding-bottom: 0.5em;
        justify-self: right;
    }
}


#emptyWishlist{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 20px;
}

#emptyYourAdds{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.container {
    text-align: center; 
}


#publish {
    font-family: 'Open Sans', sans-serif;
    display: inline-block; 
    width: 80%; 
    text-align: left; 
}

#publish h3 {
    margin-bottom: 10px;
}
#publish fieldset {
    background-color: #fff9c4;
    border: transparent;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    display: grid;
}

#publish label {
    margin-bottom: 10px;
}

#publish select, #publish input[type="number"], #publish input[type="file"], #publish input[type="submit"], #publish textarea{
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}
#upload {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

#categories {
    display: flex;
    justify-content: space-between;
}

.popup-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.5);
}

.popup {
    position: fixed;
    overflow: hidden;
    top: 30%;
    left: 40%;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 9999;
    justify-content: center;
    height: 360px;
}

.popup-content {
    text-align: center;
    position: relative;
}

.close {
    position: absolute;
    cursor: pointer;
    right: -10px;
    top: -15px;
}

.message {
    margin-bottom: 20px;
}

.popup-form {
    position: relative;
    overflow: hidden;
}

section.personalInformationBody {
    font-family: 'Open Sans', sans-serif;
    display: grid;
    grid-template-areas: "image right";

    padding: 2em;
    margin: 2em;
    background: rgb(255, 248, 206);
}

section.left-side {
    grid-area: image;
    justify-self: center;
    padding-right: 1em;
    align-content: center;

    img {
        max-width: 15rem;
        max-height: 15rem;
    }

    form {
        display: grid;
        grid-template-areas: "file"
                             "save";

        input {
            grid-area: file;
        }

        button {
            justify-self: start;
            grid-area: save;
            padding: 0.5em;
            margin-top: 0.5em;
            background: #ff7b00;
            font-family: 'Open Sans', sans-serif;
            color: #fff;
        }

        button:hover {
            color: #000;
            background: #ff9837; 
        }
    }

    button {
        background: none;
        border: none;
    }

    i {
        color:#ff9837;
        background: none;
        border: none;
        padding: 0.3em;
        font-size: 1.5em;
    }

    button:hover i {
        color: #ff7b00;
    }
}


section.right-side {
    grid-area: right;
    display: grid;
    grid-template-areas: "name"
                         "email"
                         "change";

    section#nameInfo {
        grid-area: name;
        display: grid;
        grid-template-columns: 0.2fr 2fr 0.1fr;
        grid-template-areas: "label text button";
        height: 1.5em;
        margin-bottom: 2em;

        button {
            grid-area: button;
            background: none;
            border: none;
        }

        form {
            grid-area: text;
            display: grid;
            grid-template-areas: "text save";
            font-family: 'Open Sans Light', sans-serif;
            background: rgb(255, 255, 255);
            border: none;

            button {
                margin: 0;
                grid-area: save;
                padding: 0;
            }
        }

        input {
            font-family: 'Open Sans Light', sans-serif;
            background: rgb(255, 255, 255);
            padding: 0.5em;
        }
    }

    section#emailInfo {
        grid-area: email;
        display: grid;
        grid-template-columns: 0.2fr 2fr 0.1fr;
        grid-template-areas: "label text button";
        height: 1.5em;
        margin-bottom: 2em;

        button {
            grid-area: button;
            background: none;
            border: none;
        }

        form {
            grid-area: text;
            display: grid;
            grid-template-areas: "text save";
            font-family: 'Open Sans Light', sans-serif;
            background: rgb(255, 255, 255);
            border: none;

            button {
                margin: 0;
                grid-area: save;
                padding: 0;
            }
        }

        input {
            font-family: 'Open Sans Light', sans-serif;
            background: rgb(255, 255, 255);
            padding: 0.5em;
        }
    
    }

        form {  
            grid-area: change;
            display: grid;
            grid-template-areas: 
                "label"
                "field";
                

            section#input-fields {
                display: grid;
                grid-area: field;
                grid-template-columns: 2fr 1fr;
                grid-template-areas: "old button"
                                     "new button";

                padding: 0.5em;
                background: #e5e4e4;
            }
        }
        
        form span {
            grid-area: label;
            text-align: center;
            align-content: center;
            padding: 0;
            margin-bottom: 0.5em;
            background: rgb(254, 243, 167);
            padding: 0.5em;
            font-family: 'Open Sans', sans-serif;
        }
        
        form input#old-psw {
            grid-area: old;
            margin-bottom: 0.5em;
            border: none;
            padding: 0.5em;
            margin-bottom: 0.5em;
        }
        
        form input#new-psw {
            grid-area: new;
            border: none;
            padding: 0.5em;
        }
        
        form button {
            grid-area: button;
            margin-left: 1em;
            border: none;
            font-family: 'Open Sans', sans-serif;
            color: #777;
        }
    
        form button:hover {
            color: #000;
        }

    label {
        grid-area: label;
        background: rgb(254, 243, 167);
        padding: 0.5em;
    }

    span {
        grid-area: text;
        font-family: 'Open Sans Light', sans-serif;
        background: rgb(255, 255, 255);
        padding: 0.5em;
    }

    i {
        color:#ff9837;
        background: none;
        border: none;
        padding: 0.3em;
        font-size: 1.5em;
    }

    button:hover i {
        color: #ff7b00;
    }
}